* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}

main{
  background-color: #f5f5f5;
  border-radius: 5px;
  height: 93vh;
  max-width: 800vh;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.score, .won {
  font-size: 40px;
  margin: 0;
}

.wrong{
  font-size: large;
  margin: 0;
  color: red;
}

.title{
  font-size: 40px;
  margin: 0;
}

.instructions{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.die-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 20px;
  
}

.die-face{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: white;
}

.die-num{
  font-size: 2rem;
}

.roll-btn{
  margin-top: 2rem;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: sans-serif;
  cursor: pointer;
}

.roll-btn:focus{
  outline: none;
}

.roll-btn:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.save-btn{
  margin-top: 2rem;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: sans-serif;
  cursor: pointer;
}

